html {
  /* TODO: actual landscape layout */
  --container-width: 56.25vh;
  --container-height: 100vh;
  --tile-size: 15vh;
}

@media (orientation: portrait) and (max-aspect-ratio: 4/7) {
  html {
    --container-width: 100vw;
    --container-height: calc(7/4*100vw);
    --tile-size: 14.5vh;
  }
}

html, body {
  margin: 0; padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

header > h2 {
  margin: 0;
}

#page-container {
  position: relative;
  width: var(--container-width);
  height: var(--container-height);
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

#notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  position: absolute;
  z-index: 12;
  display: flex;
}
#notification.hidden {
  display: none;
}

#message.hidden {
  visibility: hidden;
}

#page-header {
  padding-top: 0.5rem;
  flex: 0 1 13vh;
}

#panels {
  display: contents;
}

.scene-panel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.scene-panel > section.body {
  padding: 0.5rem 1rem 1rem 0.5rem;
  flex: 1 1 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.scene-panel > footer {
  flex: 0 1 0;
}

.scene-panel.hidden {
  display: none;
}

body[data-scene="waiting"] .scene-panel.previous.hidden {
  display: block;
}

section.body > .body-upper {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}
section.body > .body-lower {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.offscreen {
  transform: translateX(-100vw);
}

