html {
  /* TODO: actual landscape layout */
  --container-width: 57vh;
  --container-height: 100vh;
  --tile-size: 15vh;
}

@media (orientation: portrait) and (max-aspect-ratio: 4/7) {
  html {
    --container-width: 100vw;
    --container-height: 175vw;
    --tile-size: 14.5vh;
  }
}

html, body {
  margin: 0; padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  font-size: calc(var(--container-width) / 32);

  background-color: #ccc;
  color: #fff;
}

header > h2 {
  margin: 0;
  font-size: 1.25em;
}

#game-container {
  position: relative;
  width: var(--container-width);
  height: calc(var(--container-height) - 30px);
  background-color: #fff;
  user-select: none;
  margin: 30px auto 0 auto;
}
#message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  position: absolute;
  z-index: 12;
  display: flex;
  background-color: #ccc;
  color: #000;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  padding: 10px;
}
#message.hidden {
  visibility: hidden;
}

.scene-panel {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  display: flex;
}

.scene-panel {
  background-color: #414042;
  font-weight: bold;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.scene-panel > header {
  border-bottom: 2px solid #000;
  padding: 0.5rem 1rem;
  flex: 1 1 0;
}

.scene-panel > section.body {
  padding: 10px;
  flex: 20 1 0;
}

.scene-panel > footer {
  border-top: 2px solid #000;
  padding: 0.5rem 1rem;
  flex: 1 1 0;
}

.scene-panel.hidden {
  display: none;
}

body[data-scene="waiting"] .scene-panel.previous.hidden {
  display: block;
}

section.body > .body-upper {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}
section.body > .body-lower {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

#welcome {
}
#welcome > section.body {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#welcome > section.body > .body-upper {
  font-size: 1.4em;
  line-height: 1.7em;
}
#welcome > section.body > .body-lower {
  display: flex;
  flex-direction: column;
}
#welcome > section.body .hidden {
  display: none;
}

#welcome > section.body button {
  font-size: 4em;
}

#waitingforopponent {
}

#colorpicker:not(.hidden).scene-panel {
  display: flex;
  flex-direction: column;
}

#colorpicker > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#colorpicker > section.body {
  position: relative;
  display: flex;
  flex-direction: column;
}

#colorpicker > section.body button {
  font-size: 2.5em;
}
#colorpicker > section.body button:disabled {
  background: transparent;
  border: none;
  color: #fff;
  align-self: center;
}

#colorpicker:not(.waiting) > section.body {
  background-color: #036;
}

#colorpicker .tilegroup {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

#colorpicker .tilegroup:not(.complete).disabled {
  opacity: 0.5;
}

#colorpicker .tilegroup .tile:nth-child(1n) {
  /*! left: 0; */
  flex: 1 1 0;
}
#colorpicker .tilegroup .tile:nth-child(2n) {
  left: calc(var(--tile-size) * 1.2);
}
#colorpicker .tilegroup .tile:nth-child(3n) {
  left: calc(var(--tile-size) * 2.4);
}

#colorpicker .tile {
  /*! position: absolute; */
  /*! height: var(--tile-size); */
  /*! width: var(--tile-size); */
  background-color: rgba(0,0,0, 0.2);
  border-radius: 20px;
  margin: 1em;
}

#colorpicker .tilegroup:not(.disabled) .tile.needscolor {
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.75);
  background: url('./icon-colorpicker.svg') no-repeat 90% 10%;
}

#colorpicker .tile.selected {
  box-shadow: 0px 5px 12px 0px rgba(255,255,255,0.35);
}

#colorpicker .tile:not(.userTile).needscolor {
  /*! transform: translateX(var(--container-width)); */
}
#colorpicker .tile:not(.userTile):not(.needscolor) {
  transform: translateX(0);
  transition: transform 0.4s ease;
}

#colorpicker-container {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 10;
}

#colorpicker .colordisc.active {
  position: absolute;
  z-index: 10;
/*  transform: translateX(0);
  transition: transform 0.25s ease;
*/
}

#colorpicker .colordisc:not(.active) {
/*  transform: translateX(calc(var(--container-width) * -1));
*/
}

#gameover {
}

#gameover section.body {
  padding: 0 1rem;
}
#gameover .outputImage {
  margin: 20px auto;
  width: 100%;
  height: auto;
}

.colordisc {
  top: 0;
  left: 0;
  z-index: 1;
}
.offscreen {
  transform: translateX(-100vw);
}
