html, body {
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  font-size: calc(var(--container-width) / 32);
  background-color: #ccc;
  color: #fff;
}

header > h2 {
  font-size: 1.25em;
}

#page-container {
  background-size: cover;
  user-select: none;
}

#notification {
  background-color: #ccc;
  color: #000;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  padding: 10px;
}
#message.hidden {
  visibility: hidden;
}

#page-header {
  text-align: center;
  background-color: #fff;
}
#page-header > img {
  height: 12vh;
}

#panels {
}

.scene-panel {
  background: #fff url("./background.jpg");
  font-weight: bold;
  color: #666;
}

.scene-panel > section.body {
}

.scene-panel > footer {
  padding: 0.5rem 1rem;
}

.scene-panel > section.body {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.scene-panel > section.body > .body-upper {
  font-size: 1.4em;
  line-height: 1.7em;
}
.scene-panel > section.body > .body-lower {
  display: flex;
  flex-direction: column;
}
.scene-panel > section.body .hidden {
  display: none;
}

.scene-panel > section.body button.primary {
  font-size: 2em;
  background-color: #3a68aa;
  color: #ffff;
  border: 1px solid #333;
  border-radius: 0.4em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

#welcome > section.body {
  background-image: linear-gradient(transparent, black);
  color: #ffff;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
}

#welcome > section.body button {
  font-size: 3em;
}

#welcome > section.body > .body-upper {
  justify-content: flex-end;
}

#colorpicker:not(.hidden).scene-panel {
  display: flex;
  flex-direction: column;
}

#colorpicker > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#colorpicker:not(.waiting) > section.body {
  background-color: #fff;
}

#colorpicker > section.body button {
  font-size: 2.5em;
}
#colorpicker > section.body button:disabled {
  visibility: hidden;
}

#colorpicker > section.body > canvas#color-wheel {
  flex: 0 1 calc(var(--container-width) * 0.9);
}

#colorpicker > section.body > .body-lower {
  flex-direction: column;
}

#colorpicker .tilegroup {
  display: flex;
  flex-direction: row;
  flex: 0 1 0;
}

#colorpicker .tilegroup:not(.complete).disabled {
  opacity: 0.5;
}

#colorpicker .tile {
  background-color: #fff;
  border-radius: 1.5em;
  margin: 1em;
  padding: 0.5em;
  height: 4em;
  flex: 1 1 0;
}
#colorpicker .tile > span {
  border-radius: 1.5em;
  background-color: #000;
  color: #fff;
  padding: 1em 1.25em;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.5em;
  pointer-events: none;
}

#colorpicker .tilegroup:not(.disabled) .tile.active {
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.75);
}

#colorpicker .tile:not(.active) {
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.25);
}

#colorpicker .tile:not(.userTile).needscolor {
  background-color: #ccc;
}
#colorpicker .tile:not(.userTile):not(.needscolor) {
  transform: translateX(0);
  transition: transform 0.4s ease;
}

#colorpicker-container {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 10;
}

#colorpicker .colordisc.active {
  position: absolute;
  z-index: 10;
}

#colorpicker .colordisc:not(.active) {
}

#gameover.scene-panel {
  background: #fff;
}

#gameover section.body {
  padding: 0 1rem;
}
#gameover .outputImage {
  margin: 20px auto;
  width: 100%;
  height: auto;
}

#initializing.scene-panel {
  background: #fff;
}

#notavailable.scene-panel {
  background: #fff;
}

#notavailable .body-upper.map {
  background: url("./map.png") no-repeat bottom;
  background-size: contain;
  margin-bottom: 2em;
}


#lookup > section.body {
  background-image: linear-gradient(transparent, black);
  color: #ffff;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
}

#lookup #lookup-arrow {
  font-size: 10rem;
  color: #ffffcc;
  position: relative;
  top: 20rem;
  animation: bounce 1.2s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%   { transform: translateY(50px); }
  100% { transform: translateY(0);; }
}
