html, body {
  margin:0;
  background-color: #000;
  color: #fff;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

#game-container {
  position: absolute;
  top: 1vh;
  bottom: 1vh;
  left: calc(50% - 36vh);
  width: 72vh;
  max-width: 100%;
}

.scene-panel {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

.scene-panel {
  background-color: #414042;
  font-weight: bold;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.scene-panel > header {
  border-bottom: 2px solid #000;
  padding: 1rem;
  flex: 1 1 0;
}

.scene-panel > section.body {
  padding: 1rem;
  flex: 5 1 0;
}

.scene-panel > footer {
  border-top: 2px solid #000;
  padding: 1rem;
  flex: 1 1 0;
}

.scene-panel.hidden {
  display: none;
}

body[data-scene="waiting"] .scene-panel.previous.hidden {
  display: block;
}

#welcome {
}

#waitingforopponent {
}

#colorpicker > section.body {
  text-align: center;
}

#colorpicker:not(.waiting) > section.body {
  background-color: blue;
}

#gameover {
}

#gameover section.body {
  padding: 0 1rem;
}
#gameover .colortile {
  display: inline-block;
  width: calc(33.3% - 4px);
  height: 20vh;
  border: 1px solid black;
  margin: 1px;
}
