html, body {
  margin:0;
  background-color:black;
}

#game-container {
  position: absolute;
  top: 8vh;
  bottom: 8vh;
  left: calc(50% - 32.5vh);
  width: 65vh;
  background-color: #999;
}

.scene-panel {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}
.scene-panel.hidden {
  display: none;
}

body[data-scene="waiting"] .scene-panel.previous.hidden {
  display: block;
}

#welcome {
  background-color: green;
}

#waitingforopponent {
  background-color: yellow;
}

#colorpicker {
  background-color: blue;
}

#gameover {
  background-color: orange;
}
